<?xml version="1.0" encoding="utf-8"?> 
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--数据连接字符串-->
    <add key="Webservice_Address" value="http://192.168.100.80/BDCWSFXPub/BDCSrv.asmx"/>
  </appSettings>
    <connectionStrings>
      <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Web4BDC-20160125200513;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Web4BDC-20160125200513.mdf" />
      <add name="oracleConnection" providerName="System.Data.OleDb" connectionString="Provider=OraOLEDB.Oracle.1;Data Source=10.3.7.253/orcl;User ID=bdcsxk;Password=fx_bdcsxk;Unicode=True" />
    </connectionStrings>

</configuration>