<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings> 
    <add name="oracleConnection" connectionString="Provider=OraOLEDB.Oracle.1;Data Source=10.3.4.140/jwbdcdb;User ID=JWBDCSXK;Password=JWBDCSXK;Unicode=True"/>
  </connectionStrings>
  <appSettings>
    <add key="FtpAddr" value="" />
    <add key="FtpUser" value="" />
    <add key="FtpPwd" value="" />
    <add key="FtpPort" value="" />
  </appSettings>
</configuration>