<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    
    <!--测试--><!--
    <add name="oracleConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.147/TESTSVR;User ID=XZBDCSXK;Password=XZBDCSXK;"/>
    <add name="bdcsxkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.147/TESTSVR;User ID=XZBDCSXK;Password=XZBDCSXK;"/>
    <add name="bdcggkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.147/TESTSVR;User ID=XZBDCGGK;Password=XZBDCGGK;"/>
    <add name="bdcwdkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.147/TESTSVR;User ID=XZBDCWDK;Password=XZBDCWDK;"/>
    <add name="bdcdakConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.147/TESTSVR;User ID=XZBDCDAK;Password=XZBDCDAK;"/>
    <add name="Other" connectionString="Data Source = 10.3.2.244; Initial Catalog = HPS ; User Id = sa; Password = admin@123"/>
    <add name="SqlDBString" connectionString="Data Source = 10.3.2.244; Initial Catalog = HPS; User Id = sa; Password =admin@123"/>

     //徐州--> 
    <add name="oracleConnection"  providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.24/BIZSVR;User ID=XZBDCSXK;Password=Xzbdcsxk_24;" />
    <add name="bdcsxkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.24/BIZSVR;User ID=XZBDCSXK;Password=Xzbdcsxk_24;" />
    <add name="bdcggkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.23/BDCSVR;User ID=XZBDCGGK;Password=Xzbdcggk_23;" />
    <add name="bdcdakConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.22/DOCSVR;User ID=XZBDCDAK;Password=Xzbdcdak_22;Pooling=false;" />
    <add name="bdcwdkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.22/DOCSVR;User ID=XZBDCWDK;Password=Xzbdcwdk_22;" />
    <add name="Other" connectionString="Data Source = 192.168.100.201\sql2005; Initial Catalog = CqsfTemp ; User Id = bdc; Password = bdcBDC" />
    <add name="SqlDBString" connectionString="Data Source = 10.3.2.244; Initial Catalog = HPS; User Id = sa; Password =admin@123"/>
  
  </connectionStrings>
    </configuration>
