<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <httpRuntime executionTimeout="300000"/>
  </system.web>
  <connectionStrings>

     <!--
    <add name="oracleConnection" connectionString="Provider=OraOLEDB.Oracle;Data Source=10.3.10.16/myorcl ;User ID=bdcsxk_0306;Password=bdcsxk;Unicode=True" />
    <add name="bdcsxkConnection" providerName="System.Data.OleDb" connectionString="Data Source=10.3.10.16/myorcl ;User ID=bdcsxk_0306;Password=bdcsxk;" />
    <add name="bdcggkConnection" providerName="System.Data.OleDb" connectionString="Data Source=10.3.10.16/myorcl ;User ID=bdcggk_0306;Password=bdcggk;" />
    <add name="bdcdakConnection" providerName="System.Data.OleDb" connectionString="Data Source=10.3.10.16/myorcl ;User ID=bdcdak_0306;Password=bdcdak;Pooling=false;" />
    <add name="bdcwdkConnection" providerName="System.Data.OleDb" connectionString="Data Source=10.3.10.16/myorcl ;User ID=bdcwdk_0306;Password=bdcwdk;" />

   //睢宁
   
   <add name="oracleConnection" connectionString="Provider=OraOLEDB.Oracle;Data Source=10.3.10.21/oradata ;User ID=snxbdcsxk;Password=tmpsnx_bdcsxk;Unicode=True" />
    <add name="bdcsxkConnection" providerName="System.Data.OleDb" connectionString="Data Source=10.3.10.21/oradata ;User ID=snxbdcsxk;Password=tmpsnx_bdcsxk;" />
    <add name="bdcggkConnection" providerName="System.Data.OleDb" connectionString="Data Source=10.3.10.21/oradata ;User ID=snxbdcggk;Password=snx_bdcggk;" />
    <add name="bdcdakConnection" providerName="System.Data.OleDb" connectionString="Data Source=10.3.10.21/oradata ;User ID=bdcdak;Password=sn_bdcdak;Pooling=false;" />
    <add name="bdcwdkConnection" providerName="System.Data.OleDb" connectionString="Data Source=10.3.10.21/oradata ;User ID=bdcwdk;Password=sn_bdcwdk;" />

  
    
//徐州  -->  
    <add name="oracleConnection" connectionString="Provider=OraOLEDB.Oracle;Data Source=172.18.0.24/BIZSVR;User ID=XZBDCSXK;Password=Xzbdcsxk_24;Unicode=True"/>
    <add name="bdcsxkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.24/BIZSVR;User ID=XZBDCSXK;Password=Xzbdcsxk_24;" />
    <add name="bdcggkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.23/BDCSVR;User ID=XZBDCGGK;Password=Xzbdcggk_23;" />
    <add name="bdcdakConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.22/DOCSVR;User ID=XZBDCDAK;Password=Xzbdcdak_22;Pooling=false;" />
    <add name="bdcwdkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.22/DOCSVR;User ID=XZBDCWDK;Password=Xzbdcwdk_22;" />
 <!--沛县
    <add name="oracleConnection" connectionString="Provider=OraOLEDB.Oracle;Data Source=10.3.8.110/bdcsvr;User ID=pxbdcsx;Password=pxbdcsx3180759;" />
    <add name="bdcsxkConnection" providerName="System.Data.OleDb" connectionString="Data Source=10.3.8.110/bdcsvr;User ID=pxbdcsx;Password=pxbdcsx3180759;" />
    <add name="bdcggkConnection" providerName="System.Data.OleDb" connectionString="Data Source=10.3.8.110/bdcsvr;User ID=bdcgg;Password=bdcgg3180759;" />
    <add name="bdcwdkConnection" providerName="System.Data.OleDb" connectionString="Data Source=10.3.8.110/bdcsvr;User ID=bdcwdk;Password=bdcwdk3180759;" />
    <add name="Other" connectionString="Data Source = 192.168.100.201\sql2005; Initial Catalog = CqsfTemp ; User Id = bdc; Password = bdcBDC" />
    <add name="SqlDBString" connectionString="Data Source = 192.168.100.202; Initial Catalog = AHMSTest; User Id = bdc; Password = budongchan,./" />
  
    <add name="oracleConnection" connectionString="Provider=OraOLEDB.Oracle;Data Source=172.18.0.147/TESTSVR;User ID=xzbdcsxk;Password=XZBDCSXK;Unicode=True"/>
    <add name="bdcsxkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.147/TESTSVR;User ID=XZBDCSXK;Password=XZBDCSXK;" />
    <add name="bdcggkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.147/TESTSVR;User ID=XZBDCGGK;Password=XZBDCGGK;" />
    <add name="bdcdakConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.147/TESTSVR;User ID=XZBDCDAK;Password=XZBDCDAK;Pooling=false;" />
    <add name="bdcwdkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.147/TESTSVR;User ID=XZBDCWDK;Password=XZBDCWDK;" />


   <add name="oracleConnection" connectionString="Provider=OraOLEDB.Oracle.1;Data Source=192.168.1.237/orcl;User ID=bdcsxk;Password=TS_BdCsXk_13;Unicode=True"/>
    <add name="bdcsxkConnection" providerName="System.Data.OleDb" connectionString="Data Source=192.168.1.237/orcl;User ID=bdcsxk;Password=TS_BdCsXk_13;" />
    <add name="bdcggkConnection" providerName="System.Data.OleDb" connectionString="Data Source=192.168.1.237/orcl;User ID=bdcggk;Password=Ts_bDcGgK_13;" />
    <add name="bdcwdkConnection" providerName="System.Data.OleDb" connectionString="Data Source=192.168.1.237/orcl;User ID=tsbdcwdk;Password=ts_TSbdCWdk_13;" />
    <add name="bdcdakConnection" providerName="System.Data.OleDb" connectionString="Data Source=192.168.1.237/orcl;User ID=bdcdak;Password=TS_BDcDak_13;Pooling=false;" />
    <add name="Other" connectionString="Data Source = 192.168.100.201\sql2005; Initial Catalog = CqsfTemp ; User Id = bdc; Password = bdcBDC" />
    <add name="SqlDBString" connectionString="Data Source = 192.168.100.202; Initial Catalog = AHMSTest; User Id = bdc; Password = budongchan,./" />
-->
  </connectionStrings>
  <appSettings>
    <add key="SFSubmit" value="true"/>
    <!--37.ftp的ip地址-->
    <add key="FtpAddr" value="10.3.8.118" />
    <!--38.ftp登录用户名-->
    <add key="FtpUser" value="pxftp" />
    <!--39.对应密码-->
    <add key="FtpPwd" value="PXbdc123" />
    <!--40.ftp监听端口，默认为21-->
    <add key="FtpPort" value="21" />
    <add key="TmpPath" value="D:\\Tmp" />
    <add key="PrintPicture" value="true" />
    <add key="InterfaceUrl" value="http://172.18.0.147/Test/Interface.aspx"/>
    <add key="Bank_Person" value="{&quot;32030219820105003X&quot;:&quot;交通银行&quot;,&quot;32030219810101001X&quot;:&quot;建设银行&quot;}"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GetConfigSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.18.0.147/bdc4jzw/GetConfig.asmx"
        binding="basicHttpBinding" bindingConfiguration="GetConfigSoap"
        contract="ConfigSOAP.GetConfigSoap" name="GetConfigSoap" />
    </client>
  </system.serviceModel>
</configuration>