<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Other" connectionString="Data Source = 192.168.100.201\sql2005; Initial Catalog = CqsfTemp ; User Id = bdc; Password = bdcBDC" />
    <add name="SqlDBString" connectionString="Data Source = 192.168.100.202; Initial Catalog = AHMSTest; User Id = bdc; Password = budongchan,./" />
    <add name="bdcggkConnection" connectionString="User ID=xzbdcggk2;Password=xzbdcggk2;Persist Security Info=False;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.18.0.147)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=bdctestsvr)))" />
    <add name="bdcsxkConnection" connectionString="User ID=xzbdcsxk;Password=xzbdcsxk;Persist Security Info=False;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.18.0.147)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=bdctestsvr)))" />
    <add name="bdcwdkConnection" connectionString="User ID=xzbdcwdk;Password=xzbdcwdk;Persist Security Info=False;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.18.0.147)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=bdctestsvr)))" />
    <add name="oracleConnection" connectionString="User ID=xzbdcsxk;Password=xzbdcsxk;Persist Security Info=False;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.18.0.147)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=bdctestsvr)))" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>