<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Webservice_Address" value="http://10.3.4.88:8087/FCInterfaceTest.asmx" />
    <add key="FCWriteBackWfm_Address" value="H:\\ComPrjs\\ImmovableProperty\\SuiNing\\WebService实例\\FCWriteBackWfm.xml" />
    <add key="Area" value="徐州" />
    <!--37.ftp的ip地址-->
    <add key="FtpAddr" value="10.3.2.244" />
    <!--38.ftp登录用户名-->
    <add key="FtpUser" value="administrator" />
    <!--39.对应密码-->
    <add key="FtpPwd" value="1Aa" />
    <!--40.ftp监听端口，默认为21-->
    <add key="FtpPort" value="21" />
    <add key="FtpPassive" value="true" />

    <add key="FtpDir" value="wdbf" />
    <add key="TmpPath" value="e:\\Tmp" />
    <add key="FCFtpIP" value="192.168.100.202" />
    <add key="FCFtpUser" value="bdc" />
    <add key="FCFtpPWD" value="budongchan,./" />

  </appSettings>
  <connectionStrings>

    <add name="oracleConnection" providerName="System.Data.OleDb" connectionString="Data Source=10.3.8.110/bdcsvr;User ID=pxbdcsx;Password=Xz_PX_bdc_sx0506;" />
    <add name="bdcsxkConnection" providerName="System.Data.OleDb" connectionString="Data Source=10.3.8.110/bdcsvr;User ID=pxbdcsx;Password=Xz_PX_bdc_sx0506;" />
    <add name="bdcggkConnection" providerName="System.Data.OleDb" connectionString="Data Source=10.3.8.110/bdcsvr;User ID=bdcgg;Password=Xz_bdc_gg0506;" />
    <add name="bdcwdkConnection" providerName="System.Data.OleDb" connectionString="Data Source=10.3.8.110/bdcsvr;User ID=bdcwdk;Password=Xz_bdc_wdk0506;" />
    <add name="bdcdakConnection" providerName="System.Data.OleDb" connectionString="Data Source=10.3.8.110/bdcsvr;User ID=pxbdcdank;Password=xz_PX_bdc_dank0506;" />
    <add name="Other" connectionString="Data Source = 192.168.100.201\sql2005; Initial Catalog = CqsfTemp ; User Id = bdc; Password = bdcBDC" />
    <add name="SqlDBString" connectionString="Data Source = 192.168.100.202; Initial Catalog = AHMS; User Id = bdc; Password = bdc,./" />

    <!--
    <add name="oracleConnection"  providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.147/TESTSVR;User ID=XZBDCSXK;Password=XZBDCSXK;" />
    <add name="bdcsxkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.147/TESTSVR;User ID=XZBDCSXK;Password=XZBDCSXK;" />
    <add name="bdcggkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.147/TESTSVR;User ID=XZBDCGGK;Password=XZBDCGGK;" />
    <add name="bdcwdkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.147/TESTSVR;User ID=XZBDCWDK;Password=xzbdcwdk;" />
    <add name="bdcdakConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.147/TESTSVR;User ID=XZBDCDAK;Password=XZBDCDAK;" />
    <add name="Other" connectionString="Data Source = 192.168.100.201\sql2005; Initial Catalog = CqsfTemp ; User Id = bdc; Password = bdcBDC" />
    <add name="SqlDBString" connectionString="Data Source = 192.168.100.202; Initial Catalog = AHMSTest; User Id = bdc; Password = budongchan,./" />


    <add name="oracleConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.24/BIZSVR;User ID=XZBDCSXK;Password=Xzbdcsxk_24;" />
    <add name="bdcsxkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.24/BIZSVR;User ID=XZBDCSXK;Password=Xzbdcsxk_24;" />
    <add name="bdcggkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.23/BDCSVR;User ID=XZBDCGGK;Password=Xzbdcggk_23;" />
    <add name="bdcdakConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.22/DOCSVR;User ID=XZBDCDAK;Password=Xzbdcdak_22;" />
    <add name="bdcwdkConnection" providerName="System.Data.OleDb" connectionString="Data Source=172.18.0.22/DOCSVR;User ID=XZBDCWDK;Password=Xzbdcwdk_22;" />
    <add name="Other" connectionString="Data Source = 192.168.100.201\sql2005; Initial Catalog = CqsfTemp ; User Id = bdc; Password = bdcBDC" />
    <add name="SqlDBString" connectionString="Data Source = 192.168.100.202; Initial Catalog = AHMS; User Id = bdc; Password = bdc,./" />

     <add name="OracleDBString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.18.0.147) (PORT=1521)))(CONNECT_DATA=(SERVICE_NAME= bdctestsvr)));User Id=xzbdcsxk2; Password=xzbdcsxk2"/>
    <add name="ZtgeoGGK" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.18.0.147) (PORT=1521)))(CONNECT_DATA=(SERVICE_NAME= bdctestsvr)));User Id=xzbdcggk2; Password=xzbdcggk2"/>
    <add name="ZtgeoWDK" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.18.0.147) (PORT=1521)))(CONNECT_DATA=(SERVICE_NAME= bdctestsvr)));User Id=xzbdcwdk; Password=xzbdcwdk"/>-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ZZDZ_SUININGSoap" />
        <binding name="publicpayServiceImplServiceSoapBinding" />
        <binding name="BDCSrvSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Bdc2Fc_CLFSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://172.18.0.147/FCWebService/ZZDZ_SUINING.asmx" binding="basicHttpBinding" bindingConfiguration="ZZDZ_SUININGSoap" contract="ZZDY_WS.ZZDZ_SUININGSoap" name="ZZDZ_SUININGSoap" />
      <endpoint address="http://10.100.100.104:12366/xzbdc/publicpayService" binding="basicHttpBinding" bindingConfiguration="publicpayServiceImplServiceSoapBinding" contract="ZZSF_WS.publicpayService" name="publicpayServiceImplPort" />
      <endpoint address="http://172.18.0.70/FCWebService/Bdc2Fc_CLF.asmx" binding="customBinding" bindingConfiguration="Bdc2Fc_CLFSoap12" contract="SOAP.Bdc2Fc_CLFSoap" name="Bdc2Fc_CLFSoap12" />
      <endpoint address="http://192.168.100.80/BDCWSPUB_shiqu/BDCSrv.asmx" binding="basicHttpBinding" bindingConfiguration="BDCSrvSoap" contract="SHIQU.BDCSrvSoap" name="BDCSrvSoap" />
    </client>
  </system.serviceModel>
</configuration>
