<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <appSettings>
    <!--数据连接字符串-->
    <add key="Webservice_Address" value="http://10.3.4.88:8087/FCInterfaceTest.asmx"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GetConfigSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.18.0.147/bdc4jzw/GetConfig.asmx"
        binding="basicHttpBinding" bindingConfiguration="GetConfigSoap"
        contract="ServiceReference1.GetConfigSoap" name="GetConfigSoap" />
    </client>
  </system.serviceModel>
</configuration>