<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BDCSrvSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.100.80/BDCWSPUB_shiqu/BDCSrv.asmx"
                binding="basicHttpBinding" bindingConfiguration="BDCSrvSoap"
                contract="ServiceReference1.BDCSrvSoap" name="BDCSrvSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
