<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <webServices>
        <protocols>
          <add name="HttpSoap"/>
          <add name="HttpPost"/>
          <add name="HttpGet"/>
          <add name="Documentation"/>
        </protocols>
      </webServices>
    </system.web>
  <connectionStrings>
    <add name="oracleConnection" providerName="System.Data.OleDb" connectionString="Provider=OraOLEDB.Oracle.1;Data Source=orcl;User ID=bdcsxkcs;Password=bdcsxkcs;Unicode=True" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GetConfigSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.18.0.147/bdc4jzw/GetConfig.asmx"
        binding="basicHttpBinding" bindingConfiguration="GetConfigSoap"
        contract="ConfigSOAP.GetConfigSoap" name="GetConfigSoap" />
    </client>
  </system.serviceModel>
</configuration>
