<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="wbstrCon" connectionString="server=192.168.122.19;user id=CHOLPOR; password=CHOLPOR; database=CHOLPOR;"/>
    <add name="SXKConnection" connectionString="Provider=OraOLEDB.Oracle.1;Data Source=10.3.4.140/jwbdcdb;User ID=JWBDCSXK;Password=JWBDCSXK;Unicode=True"/>
  </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
